services:
  postgres:
    image: postgres:18.1
    environment:
      POSTGRES_DB: ${POSTGRES__DB:-etl_db}
      POSTGRES_USER: ${POSTGRES__USER:-etl_user}
      POSTGRES_PASSWORD: ${POSTGRES__PASSWORD:-etl_pass}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO__ACCESS_KEY:-minioadmin}
      MINIO_ROOT_PASSWORD: ${MINIO__SECRET_KEY:-minioadmin}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 5s
      timeout: 2s
      retries: 3
  minio-init:
    image: minio/mc:RELEASE.2025-08-13T08-35-41Z
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      mc alias set local http://minio:9000 ${MINIO__ACCESS_KEY:-minioadmin} ${MINIO__SECRET_KEY:-minioadmin};
      mc mb -p local/${MINIO__BUCKET_NAME:-raw} || true;
      mc anonymous set none local/${MINIO__BUCKET_NAME:-raw};
      "

volumes:
  postgres_data:
  minio_data:
